<body>
    <div class="registration-form">
      <form method="POST" class="post-form" action="#"> 
       {% csrf_token %}
       <div class="form-group">
         <input type="text" class="form-control item" name="username" placeholder="Full name" required>
       </div>
       <div class="form-group">
         <input type="email" class="form-control item" name="email" placeholder="Email Address" required>
       </div>
       <div class="form-group">
         <input type="tel" class="form-control item" name="phone_number" placeholder="Mobile Number" required>
       </div>
       <div class="form-group">
         <input type="password" class="form-control item" name="password" placeholder="Password" required>
       </div>
       <div class="form-group">
        <button type="submit" class="btn btn-block create-account">Register</button>
        <a href={% url 'home_page' %}  class="btn btn-block create-account">go to home page</a>
       </div>
      </form>
</body>
